html {
  box-sizing: border-box;
  font-family: "Baloo Chettan", cursive;
  background-color: rgb(224, 223, 223);
}

body{
  margin: 0;
}

.pagina-principal {
  text-align: center;
}

.body-60 {
  margin: 0;
  padding: 50px;
  width: 60%;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px black, -1px -1px 5px black;
}

.body-gatos {
  margin: 0;
  padding: 50px;
  width: 80%;
  margin: auto;
}

.volver {
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(189, 189, 189, 0.794);
  color: black;
  text-decoration: none;
}

.volver:hover {
  background-color: rgb(184, 184, 184);
}

h1 {
  color: brown;
  text-align: center;
  text-transform: uppercase;
}

.avatar {
  border-radius: 50%;
  box-shadow: 1px 1px 2px grey;
}

hr {
  width: 100%;
}

.container-gatos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-gatos img {
  border-radius: 50%;
  transition: 0.4s;
  opacity: 0.85;
  cursor: pointer;
}

.container-gatos img:hover {
  opacity: 1;
}

.gato-card {
  text-align: center;
  background-color: whitesmoke;
  padding: 40px;
  box-shadow: 0px 0px 10px 0px #000000bf;
  border-radius: 6px;
}

.gato-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 0px #000000bf;
  transition: transform 0.1s linear 0.1s;
}

.gato-card button {
  background-color: #00b900;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
}

.caja-fav,
.caja-like {
  background-color: rgba(202, 202, 202, 0.548);
  width: 48%;
  padding: 5px 0;
}

.fa-fire {
  color: red;
}

.fa-heart:hover {
  color: red;
}

.fa-star:hover {
  color: rgb(255, 217, 0);
}

.tinder-gatos {
  color: red;
}
.small-buttons {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

.gato-card button:hover {
  background-color: #02aa02;
}

.menu-principal {
  display: flex;
  justify-content: center;
}

.menu-principal li {
  list-style-type: none;
  background-color: rgb(255, 85, 55);
  padding: 15px;
  margin: 0px 40px;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s;
}

.menu-principal li:hover {
  background-color: rgb(255, 58, 23);
  transition: 0.2s;
  width: 180px;
}

.menu-principal a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 100;
}

.ejercicio2b {
  font-family: sans-serif;
}

.titulo {
  color: rgb(84, 218, 218);
  text-align: left;
  font-style: italic;
  text-transform: capitalize;
}

.texto {
  color: rgb(77, 77, 195);
}

.destacado {
  font-style: italic;
  font-weight: bold;
}

/* Ejercicio 3 */

h1.fnt-red {
  color: red;
}
.fnt-blue {
  color: blue;
}
#rodrigo {
  color: red;
  text-decoration: underline;
}
/* ------------ */

/* Ejercicio 4 */

.wallapop-container {
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.articulo-individual {
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  max-width: 200px;
  margin-right: 6px;
  position: relative;
  cursor: pointer;
}

.articulo-individual img{
  border-radius: 5px; 
  cursor: pointer;
}

.precio {
  font-size: 18px;
  margin-bottom: -12px;
}

.descripcion-articulo {
  color: gray;
  margin-top: -10px;
}

.iconos {
  display: flex;
  justify-content: space-around;
}

.icono-corazon,.icono-chat{
  width: 45%;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px 0;
  cursor: pointer;
}

.icono-corazon:hover{
  background-color: #FD6C67;
}

.icono-chat:hover{
  background-color: #13C1AC;
}

.ic-fav {
  fill: #fff;
stroke: #FD6C67;
}
.ic-fav:hover{
  fill: #fff;
stroke: #D45B57;
}

.ic-message-stroke {
  fill: #13C1AC;
}

.ic-message-stroke:hover{
  fill: #0F9989;
}

.destacado{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #13C1AC;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ----------------- */

/* Ejercicio 4b1 */
.cabecera-ej4b {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: blue;
  margin: 0;
  z-index: -3;
}

.footer-ej4b{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
}

.cabecera-ej4b h1, .footer-ej4b h1{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

/* Ejercicio 4b2 */
.contenedor-ej4b2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.css-forever {
  background-color: #A42A29;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.css-forever h1{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 7vw;
  font-weight: 200;
}

.circulo-arr-izq {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(224, 223, 223);
  border: 6px solid #A42A29;
  border-radius: 50%;
  top:-45px;
  left: -45px;
}

.circulo-arr-der {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(224, 223, 223);
  border: 6px solid #A42A29;
  border-radius: 50%;
  top:-45px;
  right: -45px;
}

.circulo-aba-izq {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(224, 223, 223);
  border: 6px solid #A42A29;
  border-radius: 50%;
  bottom:-45px;
  left: -45px;
}

.circulo-aba-der{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(224, 223, 223);
  border: 6px solid #A42A29;
  border-radius: 50%;
  bottom:-45px;
  right: -45px;
}

/* Ejercicio 4b3 */
.body-ej4b3{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.div-azul{
  width: 50%;
  background-color: aqua;
  position: relative;
  height: 300px;
  border-radius: 30px;
  z-index: 0;
}

.div-blanco{
  height: 300px;
  width: 50%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: -1;
}

.div-azul p{
  position: absolute;
  text-align: center;
  font-size: 26px;
  top: 40px;
  font-family: 'Times New Roman', Times, serif;
}

/* Ejercicio 5 */
.contenedor-ej5{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.fila-ej5 div{
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  margin-top: 6px;
}

.fila-ej5 div i{
  color: white; 
  font-size: 60px;
  font-weight: 100;
  height: 60px;
  vertical-align: middle;
}

.rojo-ej5{
  background-color: red;
}

.verde-ej5{
  background-color: #009400;
}

.azul-ej5{
  background-color: blue;
}

.negro-ej5{
  background-color: #000;
}

/* Ejercicio 8 */
.body-ej8{
  display: flex;
  justify-content: center;
  align-content: center;
}

.fila div {
  background: grey;
  height: 200px;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.mina{
  position: relative;
}

.fila div:hover{
  background-color: #00b900;
}

.fila .mina:hover{
  background-color: red;
}

.mina .fa-bomb{
  font-size: 200px;
  position: absolute;
  top:0;
  left:0;
}

 .mina i.fa-bomb{
  display: none;
}

.mina:hover i.fa-bomb{
  display: inline-block;
} 